<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title>Mitt CV - Start</title>
</head>

<body>
    <div class="content">
        <header id="main-header">
            <div class="container">
                <h1>Mitt CV</h1>
                <nav>
                    <ul>
                        <li><a href="/">Start</a></li>
                        <li><a href="/add">Lägg till</a></li>
                        <li><a href="/about" class="current">Om sidan</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <h2>Om sidan</h2>
            <p>Det här är en uppgift..</p>
        </main>
    </div>
    <footer>
        <p>© joha2102@student.miun.se</p>
    </footer>


</body>

</html>