<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Mitt CV - Start</title>
</head>

<body>
    <header id="main-header">
        <div class="container">
            <h1>Mitt CV</h1>
            <nav>
                <ul>
                    <li><a href="/" class="current">Start</a></li>
                    <li><a href="/add">Lägg till</a></li>
                    <li><a href="/about">Om sidan</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="kursListaWrapper">
        <h2>Kurser jag läst</h2>
        <div class="kursLista">
            <p>Lägg in dina kurser i formuläret</p>
        </div>
        <a href="/add" class="btn">Ny kurs</a>
    </main>
    
    <footer>
      <p>© joha2102@student.miun.se</p>
    </footer>


</body>

</html>